#body {
    background-image: url(/img/stars.png);
    background-color: black;

}

body {
    margin: 0;
}


.mainheader {
    color: red;
    font-family: 'Rowdies', cursive;
    font-size: 96px;
    line-height: 119.23px;

}


.startlink {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 24px;
    line-height: 29.26px;
    text-decoration: none;
}

.redbutton {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    line-height: 29px;
    Width: 395px;
    Height: 79px;
    color: white;
    background: red;
    margin-top: 105px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}



.submittlink {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    line-height: 29px;
    margin-top: 41px;
}

.rocketman {
    width: 409.92px;
    /* height: 372.45px; */
}



.landingpage {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* This is end for first page */


/* .body2 {

     /* height: 1080px;
    width: 1920px;  */
/* background: linear-gradient(to right, white 50%, black 50%); */
*/ .main-conainer {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
}




.flex-box-left-in {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
}


.flex-box:nth-child(2) {
    background-color: black;
}

.flex-box {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.second-page-head {
    font-family: 'Rowdies', cursive;
    color: red;
    font-size: 64px;

}

.second-pages-text {
    color: white;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    vertical-align: center;
}

.second-pages-input {
    width: 455px;
    height: 54px;
    margin-top: 30px
}

.second-pages-text {
    font-family: 'Montserrat', sans-serif;

    font-size: 24px;
    line-height: 48px;
    letter-spacing: 0.05em;




}

.flexbox-of-second-pages-text {
    display: flex;
    flex-direction: column;

    align-items: center;
}



/* end for second page */





#main-cont-third {
    display: flex;
    /* justify-content: space-between; */
    align-items: baseline;


}


#left-side {
    background-color: white;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;




}

#right-side {
    background-color: black;
    color: white;
    width: 50%;
    height: 100vh;

}

#header-third {
    font-family: 'Rowdies', cursive;
    color: red;
    Font-size: 64px;
    line-height: 79px;
    line-height: 100%;
    padding-bottom: 119px;



}

#button-third-page {
    background-color: red;
    font-family: 'Montserrat', sans-serif;
    Font-size: 12px;
    Line-height: 100%;
    Width: 201px;
    Height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;

}

#heart-cont-third {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    Width: 455px;
    Height: 193px;


}

#inpur-third-exp {
    width: 455px;
    height: 54px;
}


#skill-dropdown {
    width: 463px;
    height: 54px;
}


#right-side {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#paragraph-third-page {
    font-family: 'Montserrat', sans-serif;
    Font-size: 24px;
    line-height: 48px;
    line-height: 200%;
    height: 606px;
    width: 705px;


}

#header-third-right {
    font-family: 'Rowdies', cursive;
    color: red;
    Font-size: 64px;
    line-height: 79px;
    line-height: 100%;
    padding-bottom: 80px;

}